@model Mission08_Team0304.Models.Task

<h1>Add Task</h1>

@* Form to add a task *@
<form method="post">
    @* Hidden input for task id so it gets automatically assigned *@
    <input asp-for="TaskId" type="hidden" />

    <label asp-for="TaskName">Task:</label>
    <input asp-for="TaskName" />
    <br />

    <label asp-for="DueDate">Due Date:</label>
    <input asp-for="DueDate" />
    <br />

    <label asp-for="Quadrant">Quadrant:</label>
    <input asp-for="Quadrant" type="number" min="1" max="4" value="1" />
    <br />

    @* Dropdown for category options *@
    <label asp-for="CategoryId">Category:</label>
    <select asp-for="CategoryId">
        @foreach (Category m in ViewBag.Categories)
        {
            <option value="@m.CategoryId">@m.CategoryName</option>
        }
    </select>
    <br />

    @* True/false dropdown for whether task is completed *@
    <label asp-for="Completed">Completed:</label>
    <select asp-for="Completed">
        <option value="false">No</option>
        <option value="true">Yes</option>
    </select>

    @* Submit to database *@
    <button>Submit</button>
</form>